.mainCont{
    display: flex;
    justify-content: center;
    flex-direction:column;
    width: 100%;
    height: 600px;
    
}

.infoGameCompra{
    /* width: 40%; */
    border: 5px solid red;
}

.datosCompra{
    border: 5px solid green;
}
.datosEnvio{
    border: 5px solid yellow;
}