*{
    margin: 0 ;

    box-sizing: border-box;

    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #83A3E8;
}

ul{
    list-style-type:none; 
    padding: 0%; 
    margin: 0;
    margin-left: 10px; 
}

nav{    
    min-width: 830px; /*dim minima de la barra de nav*/
}



.navBar{
    margin-left: 0;
}

.niv1{
    background-color: #54E0FF;
    padding: 1%;
    /* background-image: linear-gradient(#056BFF, yellow); */
    border: #54E0FF;
    border-style: outset;
    border-radius: 10px;
    display: block;
    float: left;
    font-size: 125%;
    width: 20%;
    margin: 0%;

}

.niv2{
    position: relative;
}



/*iNICIO DEF ESTILO DEL MENU DESPEGABLE */
nav ul li ul{ /*Se ocultan todos los ul internos a los elementos li del lev1 */
    display: none; 
}
 
nav ul li:hover{ /**/
    background-color:rgb(84, 201, 255);
    cursor: default;
}

nav ul li:hover ul{ /*Se desplega ul internos al elemento li del lev1 */
    display: block;
    position: absolute;
    background-color:#54E0FF; 
    /* border-style: outset; */
    min-width:120px;
    /* border-style: outset; */
    border-radius: 10px;
}

nav ul li:hover ul li ul{ /*Se ocultan todos los ul internos a los elementos li del lev2 */
    display: none;
    /* background-color:#8AE840; */
}
nav ul li:hover ul li:hover{
    /* background-color:#8AE840; */
}
nav li:hover ul li:hover ul{
    display: block;
    position: absolute;
    /* background-color:#8AE840;  */
    right:-173px;
    top:0px;	
    /* border-style: outset; */
    border-radius: 10px;
}
/*TERMINA LA DEF ESTILO DEL MENU DESPEGABLE*/


/* header{
    display: flex;
    flex-direction: column;
} */




main{
    width: 100%;
    /* height:auto; */
    /* background-color: darkcyan; */
    justify-content: center;
}

footer{
    /* border: 2px solid red; */
}

a{
    text-decoration: none;
}