main{
    height: 1000px;
}

img{  
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
    
}

.infoGralgame{
    width: 720px;
    font-size: 200%;
    border: 4px solid #5FE8B8;
    text-align: center;
}
.game{
    display: flex;
    height: 80%;
    flex-flow: wrap;
    border: 4px solid #5FE8B8;
}

.imagegame{
    width: 600px;
    border: 4px solid #5FE8B8;
}

.comentarios{
    width: 100%;
    border: 4px solid #5FE8B8
}

.imagenesExtra{
    display: flex;
   
}
.imgExt{
    width: 150px;
    height: 150px;
}