main{
    /* height: 1000px; */
}

img{  
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
    
}

.infoGralgame{
    width: 17em;
    height: 17em;
    font-size: 200%;
    border: 4px solid rgb(24, 14, 167);
    text-align: center;
}
.game{
    display: flex;
    height: 55em;
    flex-flow: wrap;
    border: 4px solid rgb(221, 191, 24);
}

.imagegame{
    width: 600px;
    height: 34em;
    border: 4px solid rgb(204, 9, 139);
}

.comentarios{
    width: 100%;
    border: 4px solid rgb(134, 5, 5)
}

.imagenesExtra{
    width: 100%;
    display: flex;
    border: 4px solid rgb(240, 63, 19);
}
.imgExt{
    width: 150px;
    height: 150px;
}